 
 
 
 /* Carousel styling */
 #introCarousel {
   height:70vh;
 }

 #introCarousel  {
   background-image: url('./images/HWY1James.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }

 .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

 /* Height for devices larger than 576px */
 @media (min-width: 992px) {
   #introCarousel {
     margin-top: -58.59px;
   }
 }

 .nav-item {
     color: aliceblue;
 }